
@using Grubhub.Controllers;
@model UserPostsViewModel


<!DOCTYPE html>
<html>
<head>
    <title>My Bootstrap Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Home</title>
    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @{
        ViewData["Controller"] = "Customer";
    }
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Customer", Model.User)">
                <img src="~/grubhub_logo.png" alt="grubhub_logo" width="100" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @if (ViewContext.RouteData.Values["controller"].ToString() == "Customer" && ViewContext.RouteData.Values["action"].ToString() == "Index") {
                    <text>active</text>
 }">
                        <a class="nav-link" href="@Url.Action("Index", "Customer", Model.User)">Home</a>
                    </li>
                    <li class="nav-item @if (ViewData["Controller"].ToString() == "Customer" && ViewContext.RouteData.Values["action"].ToString() == "Profile") {
                    <text>active</text>
 }">
                        <a class="nav-link" href="@Url.Action("Profile", "Customer", new {id = Model.User.Id})">Profile</a>
                    </li>
                </ul>
            </div>
            <form method="POST" asp-action="Logout" asp-controller="Grabber">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>

    
    <h1 class="text-xl-center">Customer Home</h1>
    <h2 class="text-secondary">Hello. Welcome, @Model.User.Username Let's order something to eat</h2>
    @if (Model.Posts == null || !Model.Posts.Any())
    {
    <p>There are no posts to show. Please try again later.</p>
    }
    else
    {
    @foreach (var post in Model.Posts)
    {
        <div class="card">
            <div class="card-body">
                <p>Grabber Username: @post.GrabberName</p>
                <p>Canteen Name: @post.CanteenName</p>
                <p>Max item per orderl: @post.MaxQuantity</p>
                <p>Max Price per order: @post.MaxTotalPrice</p>
                <p>Close Time: @(post.CloseTime == DateTime.MaxValue ? "Close manually" : post.CloseTime.ToString())</p>
                    <button onclick="toggleForm('@post.PostId')" class="btn btn-primary">Request an Order</button>
                <p></p>
                <div id="order-form-@post.PostId" style="display: none;">
                        <form method="post" asp-action="Index" asp-controller="Customer">
                        <input type="hidden" name="CustomerName" value="@Model.User.Username"/>
                        <input type="hidden" name="CustomerId" value="@Model.User.Id" />
                        <input type="hidden" name="PostId" value="@post.PostId" />
                        <div class="form-group">
                            <label for="foodName-@post.PostId">Food Name:</label>
                            <input type="text" name="foodName" id="foodName-@post.PostId" class="form-control" required placeholder="ข้าวไก่ทอดเทคโน"/>
                        </div>
                        <div class="form-group">
                            <label for="numBoxes-@post.PostId">Number of items:</label>
                            <input type="number" name="numBoxes" id="numBoxes-@post.PostId" class="form-control" required placeholder="2"/>
                        </div>
                        <div class="form-group">
                            <label for="totalPrice-@post.PostId">Estimated Total Price:</label>
                            <input type="number" name="EstimatedTotalPrice" id="totalPrice-@post.PostId" class="form-control" required placeholder="70" />
                        </div>
                        <div class="form-group">
                            <label for="pickupPlace-@post.PostId">Pickup Place:</label>
                            <input type="text" name="pickupPlace" id="pickupPlace-@post.PostId" class="form-control" required placeholder="ECC-504"/>
                        </div>
                        <div class="form-group">
                            <label for="notes-@post.PostId">Note:</label>
                            <textarea name="notes" id="notes-@post.PostId" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success" onclick="validateForm(@post.MaxQuantity, @post.MaxTotalPrice, @post.PostId)">Send Order</button>
                    </form>
                </div>
            </div>
        </div>
        @foreach (var order in Model.CustomerOrders)
        {
            @if (order.PostId == post.PostId)
            {
                <div class="card">
                    <div class="card-body">
                        <p>Food Name: @order.FoodName</p>
                        <p>Number of Boxes: @order.NumBoxes</p>
                        <p>Estimated Total Price: @order.EstimatedTotalPrice</p>
                        <p>Pickup Place: @order.PickupPlace</p>
                        @if (!string.IsNullOrEmpty(order.Notes))
                        {
                            <p>Notes: @order.Notes</p>
                        }
                        <hr />
                    </div>
                </div>
            }
        }
        <hr />
    }
    }
    <script src="~/customer/customer-form.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
